app-product {
  .product {
    &.mat-card {
        max-width: 350px;
        margin: 8px 24px;
    }
    &__avatar {
      max-width: 300px;
      max-height: 200px;
    }
    &__header {
       .mat-card-title {
        font-size: 16px;
        min-height: 100px ;
        .highlight {
          background-color: yellow;
        }
      }
      .mat-card-subtitle {
        color: rgb(214, 76, 76);
      }
    }
  }
}
